repos:
  - repo: local
    hooks:
      - id: flynt
        name: "flynt"
        entry: flynt
        args: [--fail-on-change]
        types: [python]
        language: system
      - id: ruff-format
        name: "ruff format"
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-lint
        name: "ruff lint"
        entry: ruff check
        args:
          - --fix
        types: [python]
        language: system
      - id: bandit
        name: "bandit"
        entry: bandit
        language: system
        types: [python]
        args: [--ini, .bandit]
      - id: mypy
        name: "mypy"
        entry: mypy
        args: ["--config-file", "pyproject.toml"]
        types: [python]
        language: system

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
        exclude: .*(min.js|min.css|html|svg|css.map|js.map)
      - id: trailing-whitespace
