[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length=120
skip_gitignore = true

[tool.mypy]
mypy_path = [
  "fastapi_filter",
]
show_error_codes = true
plugins = [
  "sqlalchemy.ext.mypy.plugin",
]

[[tool.mypy.overrides]]
module = [
  "bson.objectid",
  "mongoengine.*",
  "uvicorn.*",
]
ignore_missing_imports = true

[tool.poetry]
name = "fastapi-filter"
version = "0.5.1"
description = "FastAPI filter"
authors = ["Arthur Rio <arthur.rio44@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/arthurio/fastapi-filter"
classifiers = [
    "Natural Language :: English",
    "Framework :: FastAPI",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
fastapi = ">=0.78,<0.90"
pydantic = ">=1.10.0,<2.0.0"
mongoengine = {version = ">=0.24.1,<0.26.0", optional = true}
SQLAlchemy = {version = ">=1.4.36,<1.5.0", optional = true}

[tool.poetry.dev-dependencies]
pudb = "^2022.1.3"
bandit = "^1.7.4"
black = "^22.12.0"
flake8-breakpoint = "^1.1.0"
flake8-builtins = "^2.1.0"
flake8-docstrings = "^1.6.0"
flake8-simplify = "^0.19.3"
flake8 = "^5.0.4"
flynt = "^0.77"
ipython = "^8.8.0"
isort = "^5.11.4"
mypy = "^0.991"
pre-commit = "^2.21.0"
pytest-asyncio = "^0.20.3"
pytest-cov = "^4.0.0"
pytest-pudb = "^0.7.0"
pytest = "^7.2.0"
python-lsp-server = "^1.7.0"
SQLAlchemy-Utils = "^0.39.0"
types-click = "^7.1.8"
types-setuptools = "^65.7.0"
uvicorn = "^0.20.0"
mypy-extensions = "^0.4.3"
typing-extensions = "^4.4.0"
tomli = "^2.0.1"
sqlalchemy2-stubs = "^0.0.2a31"
greenlet = "^2.0.1"
mkdocs-material = "^8.5.7"
Faker = "^16.3.0"
aiosqlite = "^0.18.0"
requests = "^2.28.1"
httpx = "^0.23.3"
pydantic = {extras = ["email"], version = "^1.10.0"}

[tool.poetry.extras]
mongoengine = ["mongoengine"]
sqlalchemy = ["SQLAlchemy"]
all = ["mongoengine", "SQLAlchemy"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
