[tool.black]
line-length = 120

[tool.isort]
profile = "black"
line_length=120
skip_gitignore = true

[tool.mypy]
mypy_path = [
  "fastapi_filter",
]
show_error_codes = true
plugins = [
  "sqlalchemy.ext.mypy.plugin",
]

[[tool.mypy.overrides]]
module = [
  "mongoengine.*",
  "sqlalchemy_utils.*",
  "uvicorn.*",
]
ignore_missing_imports = true

[tool.poetry]
name = "fastapi-filter"
version = "0.0.3"
description = "FastAPI filter"
authors = ["Arthur Rio <arthur.rio44@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/arthurio/fastapi-filter"
classifiers = [
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3 :: Only",
]

[tool.poetry.dependencies]
python = "^3.10"
fastapi = "^0.78.0"
pydantic = "^1.9.0"
mongoengine = {version = "^0.24.1", optional = true}
SQLAlchemy = {version = "^1.4.36", optional = true}

[tool.poetry.dev-dependencies]
pudb = "^2022.1.1"
bandit = "^1.7.4"
black = "^22.3.0"
flake8-breakpoint = "^1.1.0"
flake8-builtins = "^1.5.3"
flake8-docstrings = "^1.6.0"
flake8-simplify = "^0.19.2"
flake8 = "^4.0.1"
flynt = "^0.76"
ipython = "^8.3.0"
isort = "^5.10.1"
mypy = "^0.950"
pre-commit = "^2.19.0"
pytest-asyncio = "^0.18.3"
pytest-cov = "^3.0.0"
pytest-pudb = "^0.7.0"
pytest = "^7.1.2"
python-lsp-server = "^1.4.1"
SQLAlchemy-Utils = "^0.38.2"
types-click = "^7.1.8"
types-setuptools = "^57.4.14"
uvicorn = "^0.17.6"
mypy-extensions = "^0.4.3"
typing-extensions = "^4.2.0"
tomli = "^2.0.1"
sqlalchemy2-stubs = "^0.0.2-alpha.22"
greenlet = "^1.1.2"
mkdocs-material = "^8.2.15"
Faker = "^13.11.1"
aiosqlite = "^0.17.0"
requests = "^2.27.1"
httpx = "^0.22.0"

[tool.poetry.extras]
mongoengine = ["mongoengine"]
sqlalchemy = ["SQLAlchemy"]
all = ["mongoengine", "SQLAlchemy"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
